{
  "env": {
    "browser": false,
    "node": true,
    "mocha": true
  },
  "extends": "airbnb-base",
  "rules": {
    "import/no-named-as-default-member": 0,
    "no-confusing-arrow": ["error", {"allowParens": true}]
  }
}
